h2{
 text-align:center;}
 h3{
 text-align:center;}
 


.imagens{
text-align:center;}

body{
background-color: #c876ff;


}
@media screen and (max-width:450px){
 body{
    font-size:20px;
    background-size: 500%;
 }
